<!DOCTYPE html>
<html
        xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Movies</title>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" th:href="@{/stylesheets/styles.css}">
</head>
<body>

<div class="container">
    <h3>Movies Web</h3>

    <div class="jumbotron">
        <h1 class="display-4">Check out our Database of Movies</h1>
        <p class="lead">Click the links in the table below to see additional details of the movies, or click on of the following buttons to see some other information</p>
        <p class="lead">
            <a class="btn btn-dark btn-lg" href="http://localhost:8081/movies" role="button">All Movies</a>
            <a class="btn btn-dark btn-lg" href="http://localhost:8081/movies/most-liked" role="button">Most Liked Movie</a>
            <a class="btn btn-dark btn-lg" href="http://localhost:8081/movies/most-liked" role="button">Most Active User</a>
        </p>
    </div>

    <table class="table borderless">
        <thead class="thead-dark">
        <tr>
            <th scope="col"> More Details</a></th>
            <th scope="col"> Title</th>
            <th scope="col"> Description</th>
            <th scope="col"> Producer</th>
            <th scope="col"> Availble in 3D</th>
            <th scope="col"> Age Rating</th>
            <th scope="col"> Likes</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="movie : ${movies}">
            <td><a class="btn btn-success btn-lg" th:href="@{'http://localhost:8081/movies/' + ${movie.title}}" role="button">View</td>
            <td><span th:text="${movie.title}"> Title </span></td>
            <td><span th:text="${movie.description}"> Description </span></td>
            <td><span th:text="${movie.producer}"> Producer </span></td>
            <td><span th:text="${movie.availableInThreeDimension}"> Availble in 3D </span></td>
            <td><span th:text="${movie.ageRating}"> Age Rating </span></td>
            <td><span th:text="${movie.likes}"> Likes </span></td>
        </tr>
        </tbody>
    </table>

</div>

</body>
</html>